.sidebar {  
    background-color: #001f3f;;
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid #ffcc00;
}

.sidebar h1 {
    color: #ffcc00;
    text-decoration: none;
}

.sidebar a {
    text-decoration: none;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
    .sidebar {
        height: auto; /* Ajusta a altura para caber o conteúdo */
        flex-direction: row; /* Alinha os itens em linha para melhor uso do espaço horizontal */
        align-items: center; /* Centraliza verticalmente os itens */
        padding: 10px; /* Adiciona espaçamento interno */
    }

    .sidebar h1 {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte para telas menores */
    }
}
