footer {
    background-color: #001f3f;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    footer {
        font-size: 14px;
        padding: 8px;
    }
}

/* Estilos para telas muito pequenas */
@media (max-width: 480px) {
    footer {
        font-size: 12px;
        padding: 6px;
    }
}